* {
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.btn {
    padding: .5rem 1rem;
    background: rgb(50, 155, 158);
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    color: white;
    background:  rgb(26, 136, 139) ;  
}
.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: grey;
    line-height: 1.5rem;
    font-family: 'lora', serif;
    border: 1px solid lightgrey;
    font-size: 1.2em;
}
i{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgb(31, 155, 177);
    height: 66px;
}

.logo span {
    color: rgb(0, 247, 255);
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: azure;
    font-family: 'Lora';
}

.logo {
    float: left;
    height: inherit;
    margin-left: 2rem;
    font-family: 'Candal';

}

.nav {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}


header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: grey;
    background: white;
}

header ul li ul li a:hover {
    background: gainsboro;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li ul li a.logout {
    color: red;
}

header ul li a:hover {
    background: rgb(89, 89, 245);
    transition: 0.5s;

}

.fa-bars {
    display: none;
}

header * {
    color: white;
}

.content {
    width: 90%;
    margin: 30px auto 30px;
    
}

.content .main-content {
    width: 70%;
    float: left;
    
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}


.content .main-content .post .post-preview {
    padding: 10px;
    width: 60%;
    float: right;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .side-bar {
    width: 30%;
    float: left;
    height: 300px;
}

.content .main-content .recent-post-title {
    margin: 20px;
}
.content .side-bar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;

}

.content .side-bar .section .section-title{
    margin-top: 10px 0px 10px 0px;
}
.content .side-bar .section.search{
    margin-top: 80px;

}
.content .side-bar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;  
    border-top: 1px solid lightgrey;  
}
.content .side-bar .section.topics ul li a{
    display: block;
    padding: 15px 0px 15px 0px ;
    border-bottom: 1px solid lightgrey;
    transition: all 0.3sec;
    text-decoration: none;
}
.content .side-bar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3sec;
}
.content .main-content.single{
    background: white;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 5px;
}
.content .side-bar.single{
    padding: 0px 10px ;
}

/*Footer*/
.footer{
    background: black;
    color: white;
    height: 300px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer .footer-content{
    height: 300px;
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
.footer .footer-content .contact-form .contact-input{
    background: rgb(24, 21, 21);
    color: white;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}










/*Footer*/

@media only screen and (max-width:750px) {
    header ul {
        width: 100%;
        background: rgb(31, 155, 177);
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        background: inherit;

    }

    header ul li ul li a {
        padding: 10px;
        color: white;
        background: rgb(31, 155, 177);
        padding-left: 50px;
    }

    header ul li ul li a.logout {
        color: red;
    }

    .fa-bars {
        display: block;
    }
} 